{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/apps.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'booking/css/booking.css' %}" />
{% endblock %}

{% block title %}Réservation{% endblock %}

{% block navname %}booking{% endblock %}

{% block navbar %}
  <ul>
    <li {% if request.resolver_match.url_name == "booking-home-price" %}class="active"{% endif %}>
      <a href="{% url "booking-home-price" %}">Tarifs</a>
    </li>
    <li {% if request.resolver_match.url_name == "booking" %}class="active"{% endif %}>
      <a href="{% url "booking" %}">Réservation</a>
    </li>
    <li {% if request.resolver_match.url_name == "calendar" %}class="active"{% endif %}>
      <a href="{% url "calendar" 2017 %}">Disponibilités</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <h1>Page de réservation</h1>
  <form action="{% url "booking" %}" method="post">
    {% csrf_token %}
    <div><p class="msg">{{ msg }}</p></div>
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="field-wrapper">
        {{ field.label_tag }}
        {{ field }}

        {% if field.help_text %}
          <img src="{% static 'booking/img/help_text.png' %}" alt="help text" title="{{ field.help_text|safe }}">
        {% endif %}

        {% if field.errors %}
        <ul class="error">
          {% for error in field.errors %}
          <li>{{ error|escape }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    {% endfor %}
    <div><input type="submit" value="Réserver!" /></div>
  </form>
{% endblock %}
