{% extends "base.html" %}
{% load helpers %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/apps.css' %}" />
<link rel="stylesheet" href="{% static 'booking/css/booking.css' %}" />
{% endblock %}

{% block title %}Calendrier{% endblock %}

{% block navname %}booking{% endblock %}

{% block navbar %}
  <ul>
    <li {% if request.resolver_match.url_name == "booking-home-price" %}class="active"{% endif %}>
      <a href="{% url "booking-home-price" %}">Tarifs</a>
    </li>
    <li {% if request.resolver_match.url_name == "booking" %}class="active"{% endif %}>
      <a href="{% url "booking" %}">Réservation</a>
    </li>
    <li {% if request.resolver_match.url_name == "calendar" %}class="active"{% endif %}>
      <a href="{% url "calendar" 2016 %}">Disponibilités</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <h1>Calendrier</h1>
  <p>Voici le calendrier des réservations.</p>
  <p>Choisissez une année :<p>
  <a class="year" href="{% url "calendar" 2016 %}">2016</a>
  <a class="year" href="{% url "calendar" 2017 %}">2017</a>
  <div id="calendar">
    <table>
      <tr>
        <th></th>
        {% for month in months %} <!-- jan to dec -->
          <th>{{ month }}</th>
        {% endfor %}
      </tr>
      {% for day, month in year.items %} <!-- 1 to 31 -->
        <tr>
          <td>{{ day }}</td>
          {% for state in month %}
            <td class="{{ state }}"></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
