{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/apps.css' %}" />
<link rel="stylesheet" href="{% static 'booking/css/booking.css' %}" />
{% endblock %}

{% block title %}Réserver{% endblock %}

{% block navname %}booking{% endblock %}

{% block navbar %}
  <ul>
    <li {% if request.resolver_match.url_name == "booking-home-price" %}class="active"{% endif %}>
      <a href="{% url "booking-home-price" %}">Tarifs</a>
    </li>
    <li {% if request.resolver_match.url_name == "booking" %}class="active"{% endif %}>
      <a href="{% url "booking" %}">Réservation</a>
    </li>
    <li {% if request.resolver_match.url_name == "calendar" %}class="active"{% endif %}>
      <a href="{% url "calendar" %}">Disponibilités</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <h1>Tarifs</h1>
{% endblock %}
