iframe {
  margin: 20px 0;
}

#div-coords table:first-of-type {
  margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.wrapper {
  text-align: center;
}

.wrapper div {
  display: inline-block;
  text-align: left;
}

.wrapper #div-address {
  vertical-align: top;
  margin-right: 12%;
}

@media screen and (max-width: 1170px) {
  iframe {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
  iframe {
    width: 300px;
    height: 400px;
  }
  .wrapper {
    text-align: left;
  }
  .wrapper #address {
    margin-right: 5%;
  }
}
