{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/apps.css' %}" />
<link rel="stylesheet" href="{% static 'presentation/css/presentation.css' %}" />
{% endblock %}

{% block title %}Déscription{% endblock %}

{% block navname %}presentation{% endblock %}

{% block navbar %}
  <ul>
    <li {% if request.resolver_match.url_name == "home" %}class="active"{% endif %}>
      <a href="{% url "home" %}">Accueil</a>
    </li>
    <li {% if request.resolver_match.url_name == "description" %}class="active"{% endif %}>
      <a href="{% url "description" %}">Déscription</a>
    </li>
    <li {% if request.resolver_match.url_name == "entrance" %}class="active"{% endif %}>
      <a href="{% url "entrance" %}">Accès</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <h1>L'appartement</h1>
  <p>Description des pièces et équipements</p>
  <p>Envie...</p>
  <ul id="wishes">
    {% for wish in wishes %}
      <li>...{{ wish }}</li>
    {% endfor %}
  </ul>
{% endblock %}
