{% extends "presentation/presentation_base.html" %}

{% block title %}Accès{% endblock %}

{% block content %}
  <h1>Accés au Mont Dore</h1>
  <div class="wrapper">
    <div id="div-address">
      <h2>Adresse</h2>
      <p>Résidence Le Seaugal</br>
        25 avenue de la Libération</br>
        63240 Le Mont-Dore</p>
    </div>
    <div id="div-coords">
      <h2>Coordonnées</h2>
      <p>Coordonnées en dégré décimaux (DD) :</p>
      <table class="table-coords">
        <tr>
          <td>Latitude</td>
          <td>45.5727462</td>
        </tr>
        <tr>
          <td>Longitude</td>
          <td>2.80772189</td>
        </tr>
      </table>
      <p>Coordonnées en dégrés minutes secondes (DMS) :</p>
      <table>
        <tr>
          <td>Latitude</td>
          <td>Nord</td>
          <td>45° 34' 21886''</td>
        </tr>
        <tr>
          <td>Longitude</td>
          <td>Est</td>
          <td>2° 48' 27.798''</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="map">
    <h2>Accès</h2>
    <p>Voici une carte d'accées au Mont Dore.</p>
    <iframe
      width="900"
      height="600"
      frameborder="0"
      scrolling="yes"
      marginheight="0"
      marginwidth="0"
      src="http://www.openstreetmap.org/export/embed.html?bbox=2.732419967651367%2C45.55054180487325%2C2.87017822265625%2C45.604490626830845&amp;layer=mapnik">
    </iframe>
    </br>
    <a href="http://www.openstreetmap.org/#map=13/45.5781/2.7942">Voir la carte en plus grand.</a>
    <p>Indiquer votre position pour calculer un itinéraire.</p>
    <p>Télécharger une carte du Mont Dore ou une carte d'accés au Mont Dore, les plans des pistes ski et ski de fond et randonnée</p>
  </div>
{% endblock %}
