{% extends "presentation/presentation_base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
  <h1>Accueil</h1>
  <p>Bienvenue sur le site de <span>Sophie & Ludovic</span>.</br>
Nous sommes heureux de vous proposer une location au Mont-Dore qui bénéficie d'une vue magnifique, de toutes les commodités accessibles à pieds, et d'un garage.</br>
Visitez le site, et n'hésitez pas à nous contacter pour toute question.</br>
Nos locations ne sont pas uniquement du samedi au samedi.</br>
Profitez d'une location de mercrdi à mercredi pour les vacances de la toussaint.</p>
{% endblock %}
