nav .app-navbar {
  margin-left: 25%;
}

nav .app-navbar li {
  display: inline-block;
}

nav .app-navbar a {
  border-radius: 5px;
  padding: 5px 20px;
  margin: 5px 10px;
}

nav .active a {
  background-color: #aaa;
}

@media screen and (max-width: 1024px) {
  iframe {
    width: 90%;
  }
}
