header img {
  width: 100%;
  height: 100%;
}

nav ul {
  vertical-align: middle;
  display: inline-block;
}

nav .main-navbar {
  width: 20%;
}

nav a {
  background-color: #eee;
  display: block;
  text-decoration: none;
  padding: 16px 8px;
  color: #333;
}

nav a:hover {
  background-color: #aaa;
  color: white;
}

.nav-presentation .a-presentation,
.nav-booking .a-booking,
.nav-contact .a-contact {
  background-color: #aaa;
}

section {
  margin-left: 20%;
  margin-right: 15%;
  min-height: 460px;
}

h1 {
  font-size: 26px;
  margin: 20px 0px;
}

p {
  line-height: 1.7;
}

p span {
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 20px;
}

footer a, footer p {
  margin: 5px 50px;
  display: inline-block;
  color: currentColor;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  section {
    margin: 0 auto;
    width: 90%;
    min-height: 315px;
  }
  nav ul {
    display: block;
  }
  nav .main-navbar {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 85%;
    text-align: center;
  }
  nav .main-navbar li {
    display: inline-block;
  }
  nav .main-navbar a {
    padding: 8px 50px;
    width: 72px;

/* transition: opacity 1s linear; */
