body .main-nav,
body #content-wrapper {
  display: inline-block;
}

header img {
  width: 100%;
}

#content-wrapper {
  width: 70%;
}

nav {
  display: inline-block;
}

nav ul {
  vertical-align: middle;
  display: inline-block;
}

.main-nav {
  vertical-align: top;
  width: 20%;
}

.main-nav ul {
  width: 100%;
}

.main-nav a {
  display: block;
  text-decoration: none;
  background-color: #eee;
  color: #333;
  padding: 16px 8px;
}

nav a:hover {
  background-color: #aaa;
  color: white;
}

.a-small a {
  background-color: #fff;
  font-size: small;
}

.nav-presentation .a-presentation,
.nav-booking .a-booking,
.nav-contact .a-contact {
  background-color: #aaa;
}

section {
  padding-left: 15px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 30px;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin: 12px 0;
}

p {
  line-height: 1.7;
}

p span {
  font-weight: bold;
}

table {
  width: 100%;
}

footer {
  text-align: center;
  margin-top: 20px;
}

footer a, footer p {
  margin: 5px 50px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  #content-wrapper {
    width: 100%;
  }
  section {
    margin: 0 auto;
    width: 90%;
    min-height: 315px;
  }
  nav ul {
  }
  .main-nav {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }
  .main-nav li {
    display: inline-block;
  }
  .main-nav a {
    padding: 8px 50px;
    width: 72px;
  }
  h1 {
    text-align: left;
  }
}

/* transition: opacity 1s linear; */
