{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block stylesheet %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <img src="{% static 'img/header-img.png' %}" alt="Panorama montagne" >
    </header>
    <nav id="nav-{% block header %}generic{% endblock %}">
      <ul>
        <li><a class="nav-presentation" href="{% url "home" %}">Accueil</a></li>
        <li><a class="nav-booking" href="{% url "booking-home-price" %}">Réserver</a></li>
      </ul>
    </nav>
    {% block navbar %}{% endblock %}
    <section id="body">
      {% block content %}{% endblock %}
    </section>
    <footer>
      <a href="{% url "home" %}">Location Mont Dore</a>
    </footer>
  </body>
</html>
