{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block stylesheet %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <img src="{% static 'img/header-img.png' %}" alt="Panorama montagne" >
    </header>
    <nav>
      <ul class="main-navbar nav-{% block navname %}generic{% endblock %}">
        <li><a class="a-presentation" href="{% url "home" %}">Accueil</a></li>
        <li><a class="a-booking" href="{% url "booking-home-price" %}">Réserver</a></li>
        <li><a class="a-contact" href="{% url "contact" %}">Contact</a></li>
      </ul>
      {% block navbar %}{% endblock %}
    </nav>
    <section>
      {% block content %}{% endblock %}
    </section>
    <footer>
      <a href="{% url "home" %}">Location Mont Dore</a>
      <a href="{% url "webmaster" %}">Webmaster</a>
    </footer>
  </body>
</html>
