{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Contact{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/apps.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}" />
{% endblock %}

{% block navname %}contact{% endblock %}

{% block content %}
  <h1>Formulaire de contact</h1>
  <p>Pour tous renseignements complémentaires, vous pouvez nous contacter au 06 80 03 66 49, ou par mail à <a href="mailto:l.seva@free.fr">l.seva@free.fr</a></p>.
  <form action="{% url "contact" %}" method="post">
    {% csrf_token %}
    <div><p class="msg">{{ msg }}</p></div>
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="field-wrapper">
        {{ field.label_tag }}
        {{ field }}

        {% if field.help_text %}
          <img src="{% static 'booking/img/help_text.png' %}" alt="help text" title="{{ field.help_text|safe }}">
        {% endif %}

        {% if field.errors %}
        <ul class="error">
          {% for error in field.errors %}
          <li>{{ error|escape }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    {% endfor %}
    <div><input type="submit" value="Envoyer" /></div>
  </form>
{% endblock %}
